/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	behaviors {
		ltp: behavior_layer_tap_permissive {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_TAP_PERMISSIVE";
			#binding-cells = <2>;
			flavor = "balanced";
			tapping_term_ms = <200>;
			bindings = <&mo>, <&kp>;
		};
	};
};

/ {
    behaviors {
        mtp: bevavior_mod_tap_permissive {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_PERMISSIVE";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };
};

#define RSFT_FSLH &mtp RSFT FSLH
#define MEH LC(LA(LSFT))
#define HYPER LS(MEH)

#define colemak_layer 1
#define COLEMAK &mo colemak_layer

#define pinky_layer 2
#define PINKY(kp) &ltp pinky_layer kp

#define nav_layer 3
#define NAVFN(kp) &lt nav_layer kp

#define num_layer 4
#define NUMFN(kp) &lt num_layer kp

#define sym_layer 5
#define SYMFN(kp) &lt sym_layer kp

#define plover_layer 6
#define PLOVER &mo plover_layer

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp TAB      &kp Q       &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I    &kp O    &kp P       &kp BKSP
   &mt LCTL ESC &kp A       &kp S &kp D &kp F &kp G   &kp H &kp J &kp K    &kp L    PINKY(SCLN) &kp SQT
   &kp LSFT     &mtp LSFT Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp CMMA &kp DOT  RSFT_FSLH   &mt RSFT RET
              &kp LALT  &mt LGUI SPC  &mo sym_layer   &mo num_layer  NAVFN(SPC)  PLOVER
                        >;
                };

                colemak_layer {
                        bindings = <
   &trans       &kp Q       &kp W &kp F &kp P &kp B   &kp J &kp L &kp U    &kp Y    &kp SCLN    &trans
   &trans       &kp A       &kp R &kp S &kp T &kp G   &kp M &kp N &kp E    &kp I    PINKY(O)    &trans
   &trans       &mtp LSFT Z &kp X &kp C &kp D &kp V   &kp K &kp H &trans   &trans   &trans      &trans
                             &trans  &trans  &trans   &trans  &trans  &none
                        >;
                };

                pinky_layer {
                        bindings = <
   &kp GRAV &kp TILD &kp LPAR &kp RPAR &kp DLLR &trans   &trans &kp PIPE  &kp MINUS &kp EQUAL &trans &trans
   &trans   &kp LBKT &kp RBKT &kp LBRC &kp RBRC &trans   &trans &kp BKSP  &kp SQT   &kp DQT   &trans &trans
   &trans   &trans   &trans   &trans   &trans   &trans   &trans &kp UNDER &trans    &trans    &trans &trans
                                  &trans &trans &trans   &trans &trans &trans
                        >;
                };

                nav_layer {
                        bindings = <
   &trans   &trans   &trans   &kp PG_UP &trans   &trans     &trans   &kp HOME &kp UP   &kp PG_UP &trans   &kp DEL
   &trans   &trans   &kp HOME &kp PG_DN &kp END  &trans     &trans   &kp LEFT &kp DOWN &kp RIGHT &trans   &trans
   &trans   &trans   &trans   &trans    &trans   &trans     &trans   &kp END  &trans   &kp PG_DN &trans   &trans
                                   &trans &trans &trans     &trans &trans &trans
                        >;
                };

                num_layer {
                        bindings = <
   &trans   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5     &kp N6   &kp N7   &kp N8    &kp N9    &kp N0   &trans
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &kp N4   &kp N5    &kp N6    &trans   &reset
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &kp N1   &kp N2    &kp N3    &trans   &trans
                                  &trans &trans &trans     &trans &trans &trans
                        >;
                };

                sym_layer {
                        bindings = <
   &kp GRAV &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT  &kp CRRT &kp AMPS &kp STAR  &kp LPAR  &kp RPAR &trans
   &reset   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans    &trans    &trans   &trans
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans    &trans    &trans   &trans
                                  &trans &trans &trans     &trans &trans &trans
                        >;
                };

                plover_layer {
                        bindings = <
   &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1   &kp N1 &kp N1 &kp N1 &kp N1 &kp N1   &kp N1
   &none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I  &kp P  &kp P    &kp LBRC
   &none  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K  &kp L  &kp SCLN &kp QUOT
                        &none  &kp C  &kp V    &kp N  &kp M  &none
                        >;
                };

/*
                empty_layer {
                        bindings = <
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans   &trans   &trans
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans   &trans   &trans
   &trans   &trans   &trans   &trans   &trans   &trans     &trans   &trans   &trans   &trans   &trans   &trans
                                  &trans &trans &trans     &trans &trans &trans
                        >;
                };
*/

        };
};

